
#nav{
    background:linear-gradient(90deg, rgba(255,255,255,1)0%, rgba(248,193,19,1)100%);
    box-shadow: 2px 2px 2px 2px #cdcdcd;
    position: sticky;
    top: 0;
    z-index: 2;

}

#navbarNav ul li a{
    color: #fff;
    font-weight: bold;
}

#navbarNav ul li a:hover{
    color: #000;
    background: #fff;
    border-radius: 2px;
}

.logo{
    width: 160px;
}

#imgBanner{
    height: 450px;
}

#mainQuemSomos{
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.main-title{
    color: #000;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin:40px;
}

.destaque-texto{
    color:#3498db;
    font-weight: bold;
    font-size: 20px;
}

.destaque{
    font-size: 16px;
    color: #000;
    padding: 15px;
    padding-top: 10px;
    font-weight: 100;
}

.icones{
    color: #3498db;
    font-size: 40px;
    padding-bottom: 10px;
}

#contato{
    margin-bottom:150px
}